  .logo {
    height: 70px;
    z-index: 999;
    padding: 1vw;
  }
  html body header #desktop-nav {
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 10vh;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  html body header #desktop-nav ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  html body header #desktop-nav ul li a {
    color: #F65454;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  html body header #mobile-nav {
    display: none;
  }
  html body header article h1, html body header article p {
    color: #fff;
    text-align: center;
  }
  html body header article h1 {
    font-size: 4em;
    text-transform: capitalize;
  }
  html body header article p {
    font-size: 1.5em;
    width: 80%;
    margin-top: 10px;
  }
  html body header article section {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  @media (min-width: 480px) and (max-width: 1000px) {
    html body header article h1 {
      font-size: 3em;
    }
  }
  @media (max-width: 480px) {
    html body header{
      display: none;
    }

    html body header #mobile-nav {
      position: fixed;
      width: 100%;
      height: 10vh;
      min-height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all 0.3s linear;
    }
    html body header #mobile-nav i {
      color: #fff;
      font-size: 2em;
      margin-left: 10px;
      transition: all 0.3s linear;
    }
    html body header #mobile-nav ul {
      position: absolute;
      top: 0px;
      transform: translatex(-100vw);
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transition: all 0.3s linear;
    }
    html body header #mobile-nav ul li {
      width: 100%;
      text-align: center;
    }
    html body header #mobile-nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 2em;
      text-transform: uppercase;
      border-bottom: 1px solid #fff;
    }
    html body header article h1 {
      font-size: 2em;
    }
    html body header article p {
      font-size: 1em;
    }
    html body header article #contact {
      background-position: top;
    }
  }
  